TELEGRAM_BOT_TOKEN=put_botfather_token_here
TELEGRAM_WEBHOOK_SECRET=1fb5819c01520c074a61e96ea02eb13fce611614289f4713f01dbdf35197c866
WEBHOOK_PUBLIC_BASE_URL=https://example.com

POSTGRES_DB=birthday_bot
POSTGRES_USER=birthday_bot
POSTGRES_PASSWORD=change_this_database_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

NODE_RED_CREDENTIAL_SECRET=change_this_node_red_secret
DEFAULT_TIMEZONE=Europe/Kyiv
TZ=Europe/Kyiv
ADMIN_CHAT_ID=put_your_telegram_chat_id_here
